/* Estilos gerais para o formulário de cadastro */
body {
    font-family: "Helvetica Neue", sans-serif;
    color: #444;
    line-height: 1.5;
    background-color: #ddd;
    width: 60%;
    margin: 0 auto;
    padding: 2% 0;
}

main {
    background-color: white;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    color: rgb(140, 76, 8);
}

header h1 {
    font-size: 2em;
    margin: 0.5em 0;
}

/* Estilos de navegação */
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 1em;
    font-weight: bold;
}

/* Estilos para validação de campos */
input:valid {
    border: 1px solid green;
}

input:valid::after {
    content: "✓";
    color: green;
    position: absolute;
    right: 10px;
    font-size: 1.2em;
}

input:invalid {
    border: 1px solid red;
}

input:invalid::after {
    content: "✖";
    color: red;
    position: absolute;
    right: 10px;
    font-size: 1.2em;
}

/* Posição e estilo para os campos específicos */
#nome, #email, #cpf, #idade {
    position: relative;
    padding-right: 25px;
}

/* Título de cadastro */
#cadastro-header {
    font-size: 1.8em;
    color: rgb(140, 76, 8);
    text-align: center;
    margin-bottom: 1em;
}

/* Formulário */
form fieldset {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
}

fieldset:has(input:valid) {
    border-color: green;
}

fieldset:has(input:invalid) {
    border-color: red;
}

/* Estilo para diversos tipos de cabeçalhos */
:is(h1, h2, h3) {
    font-family: "Helvetica Neue", sans-serif;
    color: rgb(140, 76, 8);
}

/* Estilos para o primeiro item na lista de navegação */
nav ul li:first-child {
    font-weight: bold;
    color: rgb(140, 76, 8);
}

/* Estilo para o primeiro título de cada seção */
section h2:first-of-type {
    color: rgb(140, 76, 8);
    font-weight: bold;
    border-bottom: 2px solid gray;
}
